<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>
</head>
<body>

<h1>Edit Product</h1>

<form method="POST">
    Name:<br>
    <input type="text" name="name" value="{{ product.name }}" required><br><br>

    Quantity:<br>
    <input type="number" name="quantity" value="{{ product.quantity }}" required><br><br>

    Price:<br>
    <input type="number" name="price" step="0.01" value="{{ product.price }}" required><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="/">Back</a>

</body>
</html>
